<h1>Edit Product</h1>

<p>
	<%= link_to "Back", @product %>
</p>

<%= form_for @product do |f| %>
	<p>
		<%= f.label "Product Name" %><br>
		<%= f.text_field "name" %>
	</p>
	<p>
		<%= f.label "Description" %><br>
		<%= f.text_field "description" %>
	</p>
	<p>
		<%= f.label "Price" %><br>
		<%= f.text_field "price_in_cents" %>
	</p>
	<p>
		<%= f.label "Product Picture URL" %><br>
		<%= f.text_field "picture_url" %>
	</p>
	<p>
		<%= f.submit "Save" %>
	</p>
<% end %>